# COPY THIS TEMPLATE AND REMOVE THE .template EXTENSION
# Webapp Development Environment Variables

# Node environment
NODE_ENV=development

# Gemini API
GEMINI_API_URL=gemini_api_url
GEMINI_API_KEY=your_dev_api_key

# Database URL for development
DATABASE_URL=your_dev_database_url