.container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.sidebar {
  width: 200px; /* Fixed size */
  background-color: #e5e7eb;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0; /* Prevent resizing */
}

.stored-responses {
  color: #00000f;
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.response-list {
  overflow-y: auto;
  max-height: 24rem;
  padding: 0;
  margin: 0;
}

.response-item {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  background-color: #ffffff;
  border-radius: 0.25rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.response-item.active {
  background-color: #d1fae5;
  border: 2px solid #10b981;
}

.button {
  padding: .5rem;
  border-radius: 0.25rem;
  color: #ffffff;
  text-align: center;
}

.new-theory-button {
  background-color: #3b82f6;
  border: 2px solid #004181;
}

.main-content {
  flex: 1;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top; /* Centering content */
}

.header-text {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center; /* Centering text */
}

.input-field {
  border: 1px solid #d1d5db;
  padding: 0.5rem;
  border-radius: 0.25rem;
  margin: 0.5rem 0; /* Spacing between inputs */
  text-align: center; /* Centering input text */
}

.generate-button {
  background-color: #10b981;
}

.response-box {
  border: 1px solid #d1d5db;
  padding: 1rem;
  border-radius: 0.25rem;
  background-color: #f3f4f6;
  margin: 0 auto;
  width: 75%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.title {
  margin: 0 0 30vh 0;
  padding: 10px 0;
  text-align: center; /* Ensure the title is centered */
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 50% 0 0 0
}

@media (prefers-color-scheme: dark) {
  .sidebar {
    background-color: #8c8c8c;
  }
  .new-theory-button {
    background-color: #3b82f6;
    color: black;
  }
  .response-box {
    background-color: #8c8c8c;
    color: black;
  }
  .response-item {
    color: black;
  }
  .response-item.active {
    background-color: #00b4b4;
    border: 2px solid #004e4e;
  }
}