:root {
  color-scheme: light !important;
}

html, body {
  background-color: white !important;
  color: black !important;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.sidebar {
  width: 210px; 
  background-color: #b3cde0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;
  border-right: 2px solid #6497b1
}

.stored-responses {
  color: #011f4b;
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.response-list {
  overflow-y: auto;
  padding: 0;
  margin: 0;
  max-height: 84vh;
}

.response-item {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  background-color: #ffffff;
  border-radius: 0.25rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  width: 90%;
}

.response-item.active {
  background-color: #6497b1;
  border: 2px solid #005b96;
  color: white
}

.button {
  padding: .5rem;
  border-radius: 0.25rem;
  color: white;
  text-align: center;
  background-color: #005b96;
}

.new-theory-button {
  width: 100%;
}

.disabled-button {
  background-color: #9ca3af;
  color: #4b5563;
  cursor: not-allowed;
  border: 2px solid #6b7280;
  opacity: 0.6;
}

.main-content {
  flex: 1;
  padding: 7%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-text {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}

.input-field {
  border: 1px solid #d1d5db;
  padding: 0.5rem;
  border-radius: 0.25rem;
  margin: 0.5rem 0; /* Spacing between inputs */
  text-align: center; /* Centering input text */
}

.generate-button {
  background-color: #005b96;
  color: white; 
}

.random-button {
  background-color: #005b96;
  color: white; 
}

.disabled-button {
    background-color: #9ca3af;
    color: #4b5563;
    cursor: not-allowed;
    border: 2px solid #6b7280;
    opacity: 0.6; 
}
.response-box {
  border: 1px solid #d1d5db;
  padding: 1rem;
  border-radius: 0.25rem;
  background-color: #f3f4f6;
  margin: 0 auto;
  width: 50vw;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  word-wrap: break-word;
}

.title {
  margin: 0 0 1vh 0;
  text-align: center;
}

.main-logo {
  width: 15em;
  height: 15em;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 5% 0 0 0
}

.intro-text {
  display: block;
  width: 100%;
  justify-content: center;
  padding: 4%;
}

.inputs {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stored-responses-line{
  height: 2px;
  border: none;
  background-color: #011f4b
}

.spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #005b96;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}