.container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.sidebar {
  width: 200px; 
  background-color: #b3cde0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;
  border-right: 2px solid #6497b1
}

.stored-responses {
  color: #011f4b;
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.response-list {
  overflow-y: auto;
  max-height: 24rem;
  padding: 0;
  margin: 0;
}

.response-item {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  background-color: #ffffff;
  border-radius: 0.25rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.response-item.active {
  background-color: #6497b1;
  border: 2px solid #005b96;
  color: white
}

.button {
  padding: .5rem;
  border-radius: 0.25rem;
  color: #ffffff;
  text-align: center;
}

.new-theory-button {
  background-color: #005b96;
}

.main-content {
  flex: 1;
  padding: 7%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top; /* Centering content */
}

.header-text {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center; /* Centering text */
}

.input-field {
  border: 1px solid #d1d5db;
  padding: 0.5rem;
  border-radius: 0.25rem;
  margin: 0.5rem 0; /* Spacing between inputs */
  text-align: center; /* Centering input text */
}

.generate-button {
  background-color: #005b96;
  color: white; 
}

.disabled-button {
    background-color: #9ca3af;
    color: #4b5563;
    cursor: not-allowed;
    border: 2px solid #6b7280;
    opacity: 0.6; 
}
.response-box {
  border: 1px solid #d1d5db;
  padding: 1rem;
  border-radius: 0.25rem;
  background-color: #f3f4f6;
  margin: 0 auto;
  width: 75%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.title {
  margin: 0 0 1vh 0;
  text-align: center;
}

.main-logo {
  width: 15em;
  height: 15em;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 5% 0 0 0
}

.intro-text {
  display: block;
  width: 100%;
  align-items: top;
  justify-content: center;
  padding: 4%;
}

.inputs {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stored-responses-line{
  height: 2px;
  border: none;
  background-color: #011f4b
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #011f4b;
  }
  .sidebar {
    background-color: #03396c;
    border-right: 2px solid #03396c
  }
  .new-theory-button {
    background-color: #6497b1;
    color: white;
  }
  .response-box {
    background-color: #6497b1;
    color: black;
  }
  .response-item {
    color: white;
    background-color: #6497b1;
  }
  .response-item.active {
    background-color: #b3cde0;
    border: 2px solid white;
    color: black
  }
  .stored-responses {
    color: white;
  }
  .stored-responses-line{
    background-color: white
  }
}