# COPY THIS TEMPLATE AND REMOVE THE .template EXTENSION
# Database Development Environment Variables

# DB environment
DB_ENV=development

# Database URL for development
DATABASE_URL=your_dev_database_url