# COPY THIS TEMPLATE AND REMOVE THE .template EXTENSION
# Database Production Environment Variables

# DB environment
DB_ENV=production

# Database URL for production
DATABASE_URL=your_prod_database_url